@media (min-width: 480px) {
  .seven-col .col-md-1,
  .seven-col .col-sm-1,
  .seven-col .col-lg-1 {
    width: 100%;
    *width: 100%;
    padding-left: 5px;
    padding-right: 5px; } }
@media (min-width: 992px) {
  .seven-col .col-md-1,
  .seven-col .col-sm-1,
  .seven-col .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    padding-left: 5px;
    padding-right: 5px; } }
@media (min-width: 1200px) {
  .seven-col .col-md-1,
  .seven-col .col-sm-1,
  .seven-col .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    padding-left: 5px;
    padding-right: 5px; } }
.nps-calendar {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px; }
  .nps-calendar .header {
    font: 600 21px/24px "Open Sans", sans-serif;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .nps-calendar .left {
    font-family: "Montserrat", sans-serif;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 24px; }
    .nps-calendar .left a:hover {
      color: #ffaa00; }
  .nps-calendar .right {
    text-align: right; }
    .nps-calendar .right .info {
      float: right;
      padding-top: 10px;
      padding-right: 10px; }
    .nps-calendar .right .nav {
      float: right; }
    .nps-calendar .right .month {
      font-family: "Hammersmith One", sans-serif;
      font-size: 32px; }
    .nps-calendar .right .year {
      font-family: "Montserrat", sans-serif;
      color: #ffaa00;
      font-size: 32px;
      font-weight: bold; }
  .nps-calendar button {
    background: white;
    border: 4px solid;
    width: 40px;
    height: 40px; }
    .nps-calendar button:hover {
      background: #ffaa00; }
  .nps-calendar .content .day {
    border: solid 2px #d6d4d4;
    text-align: center;
    margin-bottom: 15px; }
    .nps-calendar .content .day .top {
      border: solid 1px #d6d4d4;
      margin: 2px;
      text-align: left;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: #d6d4d4; }
      .nps-calendar .content .day .top .number {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #333; }
      .nps-calendar .content .day .top .name {
        font-size: 20px;
        line-height: 20px;
        font-family: "Hammersmith One", sans-serif;
        text-transform: uppercase; }
      .nps-calendar .content .day .top .items {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 14px;
        font-family: monospace; }
      @media (min-width: 992px) {
        .nps-calendar .content .day .top {
          text-align: center;
          padding-top: 25%;
          padding-bottom: 25%; }
          .nps-calendar .content .day .top span:first-of-type:after {
            content: "\A";
            white-space: pre; }
          .nps-calendar .content .day .top .number {
            font-size: 42px;
            line-height: 42px; } }
      .nps-calendar .content .day .top:hover {
        background: transparent; }
        .nps-calendar .content .day .top:hover .number {
          color: #ffaa00; }
  .nps-calendar .events {
    border: solid 1px #d6d4d4;
    margin: 2px; }
  .nps-calendar .event {
    padding-bottom: 5px;
    padding-top: 5px; }
    .nps-calendar .event .name {
      color: #ffaa00;
      font-weight: bold; }
    .nps-calendar .event p {
      margin: 0; }
    .nps-calendar .event .time {
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
  .nps-calendar a {
    color: #333; }
    .nps-calendar a .image {
      display: none; }
    .nps-calendar a .event:hover {
      background: #ffaa00;
      color: black; }
      .nps-calendar a .event:hover .name {
        color: black; }

.nps-calendar-big {
  padding-left: 10px;
  padding-right: 10px; }
  .nps-calendar-big .seven-col .col-xs-1,
  .nps-calendar-big .seven-col .col-md-1,
  .nps-calendar-big .seven-col .col-sm-1,
  .nps-calendar-big .seven-col .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    padding-left: 5px;
    padding-right: 5px; }
  .nps-calendar-big .header,
  .nps-calendar-big .footer {
    font: 600 21px/24px "Open Sans", sans-serif;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .nps-calendar-big .left {
    padding-left: 5px;
    padding-top: 10px; }
    .nps-calendar-big .left .month {
      font-family: "Hammersmith One", sans-serif;
      font-size: 28px; }
    .nps-calendar-big .left .year {
      font-family: "Montserrat", sans-serif;
      color: #ffaa00;
      font-size: 28px;
      font-weight: bold; }
  .nps-calendar-big .right {
    text-align: right; }
    .nps-calendar-big .right .info {
      float: right;
      padding-top: 10px;
      padding-right: 10px; }
    .nps-calendar-big .right .nav {
      float: right; }
  .nps-calendar-big button {
    background: white;
    border: 4px solid;
    width: 40px;
    height: 40px; }
    .nps-calendar-big button:hover {
      background: #ffaa00; }
  .nps-calendar-big .row .item {
    padding: 1px;
    text-align: center;
    color: #333; }
    .nps-calendar-big .row .item .item-content {
      border: 1px solid #d6d4d4;
      padding-top: 5px;
      padding-bottom: 5px; }
      .nps-calendar-big .row .item .item-content .number {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: #ffaa00; }
      .nps-calendar-big .row .item .item-content .items {
        font-size: 12px;
        line-height: 16px; }
      .nps-calendar-big .row .item .item-content .available {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px; }
    .nps-calendar-big .row .item:hover, .nps-calendar-big .row .item.selected {
      background: #ffaa00; }
      .nps-calendar-big .row .item:hover .item-content .number, .nps-calendar-big .row .item.selected .item-content .number {
        color: #333; }
  .nps-calendar-big .row.week-days {
    background: #36454f;
    padding: 2px 0px;
    margin-bottom: 5px; }
    .nps-calendar-big .row.week-days .week-day-item {
      padding: 1px;
      color: #fff; }
      .nps-calendar-big .row.week-days .week-day-item .week-day {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center; }
