/*******************************************************
				Addresses Styles
********************************************************/
.address p.name {
  color: #333;
  font-weight: 700;
  font-size: 14px; }
.address div.actions {
  text-align: right; }
.address .address_address1:before,
.address .address_address2:after,
.address .address_city:after,
.address .address_phone:before {
  content: "\A";
  white-space: pre; }
