/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  color: #d7d7d7;
  line-height: 19px;
  margin: 0; }
  .content_scene_cat .content_scene_cat_bg {
    padding: 18px 10px 10px 42px;
    background-color: #464646 !important; }
    @media (max-width: 1199px) {
      .content_scene_cat .content_scene_cat_bg {
        padding: 10px 10px 10px 15px; } }
  .content_scene_cat span.category-name {
    font: 600 42px/51px "Open Sans", sans-serif;
    color: #fff;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a {
    color: #fff; }
    .content_scene_cat a:hover {
      text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #777; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #3457cb; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #4465cf; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories .col-sm-3,
#subcategories .col-sm-6,
#subcategories .col-sm-12 {
  padding-bottom: 20px; }
#subcategories .category-box {
  border: 1px solid #d6d4d4;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); }
  #subcategories .category-box a {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #3a3939;
    font-weight: 700;
    padding: 7px;
    display: block; }
    #subcategories .category-box a:hover {
      color: #3a3939; }
    #subcategories .category-box a img {
      width: 100%; }
  #subcategories .category-box:hover {
    -moz-box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8);
    -webkit-box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8);
    box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8);
    border: 1px solid #ffaa00; }
#subcategories ul li {
  float: left;
  padding-bottom: 10px; }
  #subcategories ul li .subcategory-image {
    border: 1px solid #d6d4d4; }
    #subcategories ul li .subcategory-image a img {
      width: 100%; }
  #subcategories ul li .subcategory-name {
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #555454;
    text-transform: uppercase; }
    #subcategories ul li .subcategory-name:hover {
      color: #4465cf; }
  #subcategories ul li:hover {
    border-color: #ffaa00;
    -moz-box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8);
    -webkit-box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8);
    box-shadow: 0 2px 8px rgba(255, 170, 0, 0.8); }
