#seller_comments_block_extra {
    padding:10px 0 0 0;
    border-top:1px solid #ccc;
    font-weight: bold;
    font-size:12px;
    line-height:18px
}
    
#seller_comments_block_extra a {
    padding-left: 10px;
    text-decoration: none;
    background: url(img/bg_li.png) no-repeat scroll 1px 45% #fff;

}

#seller_comments_block_extra a:hover {text-decoration: underline}

#seller_comments_block_extra .comments_note {margin-bottom:5px}
#seller_comments_block_extra .comments_note span,
#seller_comments_block_extra .star_content {float:left}
#seller_comments_block_extra .star_content {margin-top:2px}

#seller_comments_block_extra div.star {background: url(img/star.gif) no-repeat scroll 0 0 transparent}

#seller_comments_block_extra div.star_on {background: url(img/star.gif) no-repeat scroll 0 -12px transparent}

#seller_comments_block_extra .comments_advices {clear:both;}


/* TAB COMMENTS ******************************************************************************** */
#seller_comments_block_tab {margin:0 0 20px 0}

#seller_comments_block_tab div.comment {
    margin:0 0 10px 0;
    padding: 5px;
    border-bottom: 1px dotted #ccc
}

#seller_comments_block_tab div.comment div.comment_author {
    float: left;
    padding-right:25px;
    width: 140px;/* 165 */
    line-height:18px
}
#seller_comments_block_tab div.comment div.comment_author span {font-weight:bold;}
#seller_comments_block_tab div.comment div.comment_author span,
#seller_comments_block_tab div.comment .star_content {
    float:left;
}
#seller_comments_block_tab div.comment .star_content {margin: 0 0 0 5px}
#seller_comments_block_tab div.star,
#seller_comments_block_tab div.star_on {
    background: none no-repeat 0 0 transparent
}
#seller_comments_block_tab .comment_author_infos {clear:both}
#seller_comments_block_tab .comment_author_infos em {color:#999}

#seller_comments_block_tab div.comment div.comment_details {
    float: left;
    overflow:hidden;
    width: 360px
}
#seller_comments_block_tab div.comment_details .title_block, #seller_comments_block_tab div.comment_details h4  {padding-bottom:10px}
#seller_comments_block_tab div.comment_details p {padding-bottom:10px}
#seller_comments_block_tab div.comment_details ul {
    list-style-type:none;
    margin:0
}
#seller_comments_block_tab div.comment_details li {
    padding:2px 0 2px 12px;
    background:url(img/bg_li.png) no-repeat 1px 45% #fff
}

#seller_comments_block_tab button.nps_usefulness_btn {
    cursor: pointer;
    margin:0 0 0 5px;
    display: inline-block;
    padding: 0 2px;
    border: 1px solid #CC9900;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    font-weight: bold;
    background: url("img/bg_bt.gif") repeat-x scroll 0 0 #F4B61B
}
#seller_comments_block_tab button.nps_usefulness_btn:hover {background-position: left -50px}
#seller_comments_block_tab button.nps_usefulness_btn:active {background-position: left -100px}

#seller_comments_block_tab span.nps_report_btn {cursor: pointer}
#seller_comments_block_tab span.nps_report_btn:hover {text-decoration:underline}

.fl { float: left; }
.fr { float: right; }
