Ignore all
*

# Exclude
!mails/en/seller_account_request.html
!mails/en/seller_account_request.txt
!mails/pl/seller_account_request.html
!mails/pl/seller_account_request.txt

!modules/npsmarketplace/*

!themes/nps/*
