# Ignore all
/*

# Exclude
!/mails/en/seller_account_request.html
!/mails/en/seller_account_request.txt
!/mails/pl/seller_account_request.html
!/mails/pl/seller_account_request.txt

!/modules
/modules/*
!/modules/npsmarketplace
!/modules/npsmsellercomments
!/modules/npsprzelewy24
!/themes
/themes/*
!/themes/minimal_16_theme

!/js
/js/*
!/js/validate.js

!/classes
/classes/*
!/classes/Validate.php

!/override
/override/*
!/override/classes
/override/classes/*
!/override/classes/Product.php

!/override/controllers
/override/controllers/*
!/override/controllers/admin
/override/controllers/admin/*
!/override/controllers/admin/AdminStatsController.php
!/override/controllers/admin/AdminProductsController.php

!/override/controllers/admin/templates
/override/controllers/admin/templates/*
!/override/controllers/admin/templates/products
/override/controllers/admin/templates/products/*
!/override/controllers/admin/templates/products/combinations.tpl
!/override/controllers/admin/templates/products/virtualproduct.tpl

!/override/controllers/admin/templates/products/helpers
/override/controllers/admin/templates/products/helpers/*
!/override/controllers/admin/templates/products/helpers/form
/override/controllers/admin/templates/products/helpers/form/*
!/override/controllers/admin/templates/products/helpers/form/form.tpl
