# Ignore all
/*

# Exclude
!/mails/en/seller_account_request.html
!/mails/en/seller_account_request.txt
!/mails/pl/seller_account_request.html
!/mails/pl/seller_account_request.txt

!/modules
/modules/*
!/modules/npsmarketplace

!/themes
/themes/*
!/themes/nps

!/js
/js/*
!/js/validate.js

!/classes
/classes/*
!/classes/Validate.php

!/override
/override/*
!/override/classes
/override/classes/*
!/override/classes/Product.php
