@import "compass";
@import "theme_variables";

.combinations-list {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .combinations-header {
    font-weight: bold;
    padding: 10px 0;
    background-color: #eee;
  }
  .combinations-item {
    padding: 10px 0;
    border-bottom: 1px solid $base-border-color;
    &:hover {
      font-weight: bold;
    }
  }
  
  button {
    margin-top: 10px;
  }
}

.goto-combinations {
  .btn {
    font-size: 18px !important;
    border: 2px solid $dark-background-hover !important;
    font-weight: bold !important;
    &:hover {
      border-color: $primary-color-light !important;
    }
  }
}
