.nps-myaccount-block li {
    margin-bottom: 8px;
}

.nps-myaccount-block p {
    color: #FFAA00;
    font-weight: bold;
}

.nps-myaccount-block a i {
    margin-right: 2px;
}

.nps-myaccount-block a span {
    position: absolute;
    left: 35px;
    text-transform: uppercase;
}

.nps-myaccount-block a:hover {
    color: #FFAA00;
}
