@import "compass";
@import "theme_variables";

/*******************************************************************
					nps Social Styles
********************************************************************/

#nps_social_block {
  float: right;
  padding: 15px 15px 0 15px;
  ul {
    float: right;
    @media (max-width: $screen-xs-max) {
      float: none;
    }
    li {
      float: left;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50px;
      background: #000000;
      padding-top: 10px;
      margin-left: 5px;
      &:first-of-type {
        margin-left: 0px;
      }
      // min 768px max 991px
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        width: 30px;
        height: 30px;
        padding-top: 2px;
      }
      a {
        display: inline-block;
        color: $light-text-color;
        font-size: 28px;
        // min 768px max 991px
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          font-size: 20px;
        }
        span {
          display: none;
        }
        &:before {
          display: inline-block;
          font-family: $font-icon;
          vertical-align: -5px;
          font-weight: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &:hover {
          color: $primary-color;
        }
      }
      &.blog {
        border: 1px solid $base-body-color;
        background: $light-background;
        width: 90px;
        a {
          margin-top: 5px;
          color: $base-body-color;
          span {
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Hammersmith One', sans-serif;
          }
        }
        &:hover {
          border-color: $primary-color;
          a {
            color: $primary-color;
          }
        }
      }
      &.facebook {
        a {
          &:before {
            content: "\f09a";
          }
        }
      }
      &.twitter {
        a {
          &:before {
            content: "\f099";
          }
        }
      }
      &.rss {
        a {
          &:before {
            content: "\f09e";
          }
        }
      }
      &.youtube {
        a {
          &:before {
            content: "\f167";
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            content: "\f0d5";
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            content: "\f0d2";
          }
        }
      }
    }
  }
  h4 {
    display: none;
    text-align: center;
  }
}
