@import "compass";
@import "theme_variables";

/*******************************************************
				Addresses Styles
********************************************************/
.address {
  p.name {
    color: $base-text-color;
    font-weight: 700;
    font-size: 14px;
  }

  div.actions {
    text-align: right;
  }

  .address_address1:before,
  .address_address2:after,
  .address_city:after,
  .address_phone:before {
    content:"\A";
    white-space:pre;
  }
}