@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  line-height: 19px;
  margin: 0;
  .content_scene_cat_bg {
    padding-bottom: 10px
  }
  span.category-name {
    font: 600 32px/41px $font-custom;
    color: $base-text-color;
    margin-bottom: 12px;
    @media (max-width: $screen-md-max) {
      // max 1199px
      font-size: 25px;
      line-height: 30px;
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: $base-text-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .content_scene {
    color: $base-body-color;
    .cat_desc {
      padding-top: 20px;
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */


#subcategories {
  
  .col-sm-3,
  .col-sm-6,
  .col-sm-12 {
    padding-bottom: 20px;
  }
  .category-box {
    border: 1px solid $base-border-color;
    @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.16));

    .subcategory-name {
      font-family: $font-custom;
      font-size: 17px;
      color: $product-name-color;
      font-weight: 700;
      padding: 7px;
      display: block;
      &:hover {
        color: $product-name-color;
      }
    }
    
    .img {
      img {
        width: 100%;
      }
    }

    &:hover {
        @include box-shadow(0 2px 8px rgba(255, 170, 0, 0.8));
        border: 1px solid $primary-color;
      }
  }
  
  ul {
    li {
      float: left;
      padding-bottom: 10px;
      .subcategory-image {
        border: 1px solid $base-border-color;
        a {
          img {
            width: 100%;
          }
        }
      }
      
      .subcategory-name {
        font: 600 18px/22px $font-custom;
        color: $base-heading-color;
        text-transform: uppercase;
        &:hover {
          color: $link-hover-color;
        }
      }

      &:hover {
        border-color: $primary-color;
        @include box-shadow(0 2px 8px rgba(255, 170, 0, 0.8));
      }
    }
  }
}