@import "compass";
@import "theme_variables";
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
	.logo {
		margin: 0 0 31px 0;	
	}
	h1 {
		font: 600 28px/34px $font-custom;
		color: $base-text-color;
		text-transform: uppercase;
		padding: 0 0 14px 0;
		margin: 0 0 19px 0;
	}
	.message {
		font: 600 14px/26px $font-custom;
		padding: 0 0 0 18px;
		color: #555454;
		text-transform: uppercase;	
	}
}
@media only screen and (min-width: 1200px) {
	.container { 
		padding-left: 0;
		padding-right: 0;
	}
}