@import "compass";
@import "theme_variables";

#nps_tickets_block_account {
  .nps-ticket {
    border: 1px solid $base-border-color;
    margin-bottom: 10px;
    padding: 15px;
    color: $base-text-color;
    .name, {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .term {
      font-weight: 700;
    }
    .info {
      span {
        width: 80px;
        display: block;
        float: left;
      }
      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .buttons {
      position: absolute;
      top: 15px;
      right: 25px;
    }
    .code {
      margin-top: 10px;
      font-weight: 700;
    }
  }
}