#npsfavorite_block_account .npsfavorite {
    position:relative;
    margin-bottom: 14px;
    border: 1px solid #d6d4d4;
    margin-bottom: 10px;
}

.npsfavorite a.product_img_link {
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
}
.npsfavorite .product_name {
    font-size: 16px;
    margin-top: 15px;
}
.npsfavorite .product_name a {
    color: #333;
}

.npsfavorite  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.npsfavorite .remove {
	position:absolute;
	top:10px;
	right:10px;
	font-size: 18px;
	color: #333;
}
.npsfavorite .remove:hover {
    color: #ffaa00;
}
.npsfavorite .remove i {cursor:pointer}

ul#usefull_link_block li#npsfavorite_block_extra_added {
	display: none;
}
ul#usefull_link_block li#npsfavorite_block_extra_removed {
	display: none;
}